body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
}

.table-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h2, h3 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #007bff;
    color: white;
}

.btn-seleccionar, .btn-horario, #btn-continuar, #btn-regresar {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-seleccionar {
    background: #28a745;
    color: white;
}

.btn-seleccionar:hover {
    background: #218838;
}

.btn-horario {
    background: #17a2b8;
    color: white;
}

.btn-horario:hover {
    background: #138496;
}

.btn-horario.selected {
    background: #06c947;
    color: black;
    transform: scale(1.1);
    transition: 0.3s;
}

#btn-continuar {
    background: #17a2b8;
    color: white;
    display: block;
    width: 100%;
    margin-top: 15px;
}

#btn-continuar:hover {
    background: #17a2b8
}

#btn-regresar {
    background: #c82333;
    color: white;
}

#btn-regresar:hover {
    background: #c82333;
}

#fecha-cita {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
    text-align: center;
    transition: 0.3s;
}

#fecha-cita:hover {
    background: #e3f2fd;
}

#cita-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes scaleUp {
    from { transform: scale(0.95); }
    to { transform: scale(1); }
}